/* ---- reset ---- */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
}
.title {
    margin: 0 auto;
    font-size: 4.2em;
    text-align: center;
    color: #fff;
}

.container-fluid {
    min-height: 75%;
}

canvas {
    display: block;
}

#description {
    font-size: 35px;
}

#temp {
    font-size: 50px;
}

#location {
    font-size: 35px;
}

#citytextbox {
    width:100%;
    height: 45px;
}

.ui-autocomplete {
    max-height: 400px;
    max-width: 15%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

/* ---- tsparticles container ---- */
#tsparticles {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("mountain-bg.png"); /* particles are white */
    background-size: cover;
    border: solid 5px teal;
}
